[submodule "oversimple"]
	path = oversimple
	url = https://github.com/unevens/oversimple
[submodule "juicy"]
	path = juicy
	url = https://github.com/unevens/juicy
[submodule "audio-dsp"]
	path = audio-dsp
	url = https://github.com/unevens/audio-dsp
