[submodule "oversimple"]
	path = oversimple
	url = https://github.com/unevens/oversimple
[submodule "juicy"]
	path = juicy
	url = https://github.com/unevens/juicy
[submodule "audio-dsp"]
	path = audio-dsp
	url = https://github.com/unevens/audio-dsp
[submodule "JUCE"]
	path = JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "iPlug2"]
	path = iPlug2
	url = https://github.com/iPlug2/iPlug2.git
